/*Margins*/
.pad_0{
    padding: 0px !important;
}
.pad_bot0{
    padding-bottom: 0px !important;
}
.pad_left0{
    padding-left: 0px !important;
}
.pad_right0{
    padding-right: 0px !important;
}
.pad_top0{
    padding-top: 0px !important;
}
.mar_bot0{
    margin-bottom: 0px !important;
}
.mar_top0{
    margin-bottom: 0px !important;
}


.margin_bottom0{
    margin-bottom: 0px !important;
}
/*Paddings*/
.padding_all_5{
    padding: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.padding_all_10{
    padding: 10px !important;
}
.padding_top5{
    padding-top: 5px;
    clear: both;
}
.padding_top10{
    padding-top: 10px;
    clear: both;
}
.padding_top15{
    padding-top: 15px;
    clear: both;
}
.padding_top20{
    padding-top: 20px;
    clear: both;
}
.padding_top25{
    padding-top: 25px;
    clear: both;
}
.padding_top30{
    padding-top: 30px;
    clear: both;
}
.padding_top45{
    padding-top: 45px;
    clear: both;
}
.padding_top50{
    padding-top: 50px;
    clear: both;
}
.padding_top65{
    padding-top: 65px;
    clear: both;
}
.padding_top85{
    padding-top: 85px;
    clear: both;
}
.padding_bottom10{
    padding-bottom: 10px;
    clear: both;
}
.padding_bottom15{
    padding-bottom: 15px;
    clear: both;
}
.padding_bottom20{
    padding-bottom: 20px;
    clear: both;
}
.padding_bottom25{
    padding-bottom: 25px;
    clear: both;
}
.padding_bottom30{
    padding-bottom: 30px;
    clear: both;
}
.padding_bottom40{
    padding-bottom: 40px;
    clear: both;
}
.padding_bottom50{
    padding-bottom: 50px;
    clear: both;
}
/*Margins*/
.margin_top10{
    margin-top: 10px !important;
    clear: both;
}
.margin_top15{
    margin-top: 15px !important;
    clear: both;
}
.margin_top20{
    margin-top: 20px !important;
    clear: both;
}
.margin_top30{
    margin-top: 30px !important;
    clear: both;
}
.margin_bottom10{
    margin-bottom: 10px !important;
    clear: both;
}
.margin_bottom15{
    margin-bottom: 15px !important;
    clear: both;
}
.margin_bottom20{
    margin-bottom: 20px !important;
    clear: both;
}
.margin_bottom25{
    margin-bottom: 25px !important;
    clear: both;
}

/*Line Height*/
.lheight0{
    line-height: 0px !important;
}
.lheight10{
    line-height: 10px !important;
}
.lheight15{
    line-height: 15px !important;
}
.lheight20{
    line-height: 20px !important;
}
.lheight25{
    line-height: 25px !important;
}
.lheight30{
    line-height: 30px !important;
}
.lheight40{
    line-height: 40px !important;
}

/*Costum Styles*/
.search_res_bg{
    background-color: #e60000 !important;
}
.search_res_title{
    float: left;
    margin-right: 22px;
    line-height: 43px;
}
.lang_flag{
    margin-right: 12px;
    width: 25px;
}
.facebook{
    margin-top: 3px !important;
}
.twitter{
    margin-top: 3px !important;
}

/* common padding */
.pd-0 {
    padding: 0px !important;
}
.pd-0 {
    padding: 0px !important;
}
.pd-10 {
    padding: 10px !important;
}
.pd-20 {
    padding: 20px !important;
}
.pd-30 {
    padding: 30px !important;
}
.pd-40 {
    padding: 40px !important;
}
.pd-50 {
    padding: 50px !important;
}
.pd-60 {
    padding: 60px !important;
}
.pd-70 {
    padding: 70px !important;
}
.pd-80 {
    padding: 80px !important;
}
.pd-90 {
    padding: 90px !important;
}
.pd-100 {
    padding: 100px !important;
}
.pd-110 {
    padding: 110px !important;
}
.pd-120 {
    padding: 120px !important;
}
.pd-130 {
    padding: 130px !important;
}
.pd-140 {
    padding: 140px !important;
}
.pd-150 {
    padding: 150px !important;
}
.pd-160 {
    padding: 160px !important;
}
.pd-170 {
    padding: 170px !important;
}
.pd-180 {
    padding: 180px !important;
}
.pd-190 {
    padding: 190px !important;
}
.pd-200 {
    padding: 200px !important;
}
.pd-210 {
    padding: 210px !important;
}
.pd-220 {
    padding: 220px !important;
}
.pd-230 {
    padding: 230px !important;
}
.pd-240 {
    padding: 240px !important;
}
.pd-250 {
    padding: 250px !important;
}
.pd-260 {
    padding: 260px !important;
}
.pd-270 {
    padding: 270px !important;
}
.pd-280 {
    padding: 280px !important;
}
.pd-290 {
    padding: 290px !important;
}
.pd-300 {
    padding: 300px !important;
}
/* padding top only */
.pd-t-0 {
    padding-top: 0px !important;
}
.pd-t-10 {
    padding-top: 10px !important;
}
.pd-t-20 {
    padding-top: 20px !important;
}
.pd-t-30 {
    padding-top: 30px !important;
}
.pd-t-40 {
    padding-top: 40px !important;
}
.pd-t-50 {
    padding-top: 50px !important;
}
.pd-t-60 {
    padding-top: 60px !important;
}
.pd-t-70 {
    padding-top: 70px !important;
}
.pd-t-80 {
    padding-top: 80px !important;
}
.pd-t-90 {
    padding-top: 90px !important;
}
.pd-t-100 {
    padding-top: 100px !important;
}
.pd-t-110 {
    padding-top: 110px !important;
}
.pd-t-120 {
    padding-top: 120px !important;
}
.pd-t-130 {
    padding-top: 130px !important;
}
.pd-t-140 {
    padding-top: 140px !important;
}
.pd-t-150 {
    padding-top: 150px !important;
}
.pd-t-160 {
    padding-top: 160px !important;
}
.pd-t-170 {
    padding-top: 170px !important;
}
.pd-t-180 {
    padding-top: 180px !important;
}
.pd-t-190 {
    padding-top: 190px !important;
}
.pd-t-200 {
    padding-top: 200px !important;
}
.pd-t-210 {
    padding-top: 210px !important;
}
.pd-t-220 {
    padding-top: 220px !important;
}
.pd-t-230 {
    padding-top: 230px !important;
}
.pd-t-240 {
    padding-top: 240px !important;
}
.pd-t-250 {
    padding-top: 250px !important;
}
.pd-t-260 {
    padding-top: 260px !important;
}
.pd-t-270 {
    padding-top: 270px !important;
}
.pd-t-280 {
    padding-top: 280px !important;
}
.pd-t-290 {
    padding-top: 290px !important;
}
.pd-t-300 {
    padding-top: 300px !important;
}
/* padding right only */
.pd-r-0 {
    padding-right: 0px !important;
}
.pd-r-10 {
    padding-right: 10px !important;
}
.pd-r-20 {
    padding-right: 20px !important;
}
.pd-r-30 {
    padding-right: 30px !important;
}
.pd-r-40 {
    padding-right: 40px !important;
}
.pd-r-50 {
    padding-right: 50px !important;
}
.pd-r-60 {
    padding-right: 60px !important;
}
.pd-r-70 {
    padding-right: 70px !important;
}
.pd-r-80 {
    padding-right: 80px !important;
}
.pd-r-90 {
    padding-right: 90px !important;
}
.pd-r-100 {
    padding-right: 100px !important;
}
.pd-r-110 {
    padding-right: 110px !important;
}
.pd-r-120 {
    padding-right: 120px !important;
}
.pd-r-130 {
    padding-right: 130px !important;
}
.pd-r-140 {
    padding-right: 140px !important;
}
.pd-r-150 {
    padding-right: 150px !important;
}
.pd-r-160 {
    padding-right: 160px !important;
}
.pd-r-170 {
    padding-right: 170px !important;
}
.pd-r-180 {
    padding-right: 180px !important;
}
.pd-r-190 {
    padding-right: 190px !important;
}
.pd-r-200 {
    padding-right: 200px !important;
}
.pd-r-210 {
    padding-right: 210px !important;
}
.pd-r-220 {
    padding-right: 220px !important;
}
.pd-r-230 {
    padding-right: 230px !important;
}
.pd-r-240 {
    padding-right: 240px !important;
}
.pd-r-250 {
    padding-right: 250px !important;
}
.pd-r-260 {
    padding-right: 260px !important;
}
.pd-r-270 {
    padding-right: 270px !important;
}
.pd-r-280 {
    padding-right: 280px !important;
}
.pd-r-290 {
    padding-right: 290px !important;
}
.pd-r-300 {
    padding-right: 300px !important;
}
/* padding bottom only */
.pd-b-0 {
    padding-bottom: 0px !important;
}
.pd-b-5 {
    padding-bottom: 5px !important;
}
.pd-b-10 {
    padding-bottom: 10px !important;
}
.pd-b-20 {
    padding-bottom: 20px !important;
}
.pd-b-30 {
    padding-bottom: 30px !important;
}
.pd-b-40 {
    padding-bottom: 40px !important;
}
.pd-b-50 {
    padding-bottom: 50px !important;
}
.pd-b-60 {
    padding-bottom: 60px !important;
}
.pd-b-70 {
    padding-bottom: 70px !important;
}
.pd-b-80 {
    padding-bottom: 80px !important;
}
.pd-b-90 {
    padding-bottom: 90px !important;
}
.pd-b-100 {
    padding-bottom: 100px !important;
}
.pd-b-110 {
    padding-bottom: 110px !important;
}
.pd-b-120 {
    padding-bottom: 120px !important;
}
.pd-b-130 {
    padding-bottom: 130px !important;
}
.pd-b-140 {
    padding-bottom: 140px !important;
}
.pd-b-150 {
    padding-bottom: 150px !important;
}
.pd-b-160 {
    padding-bottom: 160px !important;
}
.pd-b-170 {
    padding-bottom: 170px !important;
}
.pd-b-180 {
    padding-bottom: 180px !important;
}
.pd-b-190 {
    padding-bottom: 190px !important;
}
.pd-b-200 {
    padding-bottom: 200px !important;
}
.pd-b-210 {
    padding-bottom: 210px !important;
}
.pd-b-220 {
    padding-bottom: 220px !important;
}
.pd-b-230 {
    padding-bottom: 230px !important;
}
.pd-b-240 {
    padding-bottom: 240px !important;
}
.pd-b-250 {
    padding-bottom: 250px !important;
}
.pd-b-260 {
    padding-bottom: 260px !important;
}
.pd-b-270 {
    padding-bottom: 270px !important;
}
.pd-b-280 {
    padding-bottom: 280px !important;
}
.pd-b-290 {
    padding-bottom: 290px !important;
}
.pd-b-300 {
    padding-bottom: 300px !important;
}
/* padding left only */
.pd-l-0 {
    padding-left: 0px !important;
}
.pd-l-10 {
    padding-left: 10px !important;
}
.pd-l-20 {
    padding-left: 20px !important;
}
.pd-l-30 {
    padding-left: 30px !important;
}
.pd-l-40 {
    padding-left: 40px !important;
}
.pd-l-50 {
    padding-left: 50px !important;
}
.pd-l-60 {
    padding-left: 60px !important;
}
.pd-l-70 {
    padding-left: 70px !important;
}
.pd-l-80 {
    padding-left: 80px !important;
}
.pd-l-90 {
    padding-left: 90px !important;
}
.pd-l-100 {
    padding-left: 100px !important;
}
.pd-l-110 {
    padding-left: 110px !important;
}
.pd-l-120 {
    padding-left: 120px !important;
}
.pd-l-130 {
    padding-left: 130px !important;
}
.pd-l-140 {
    padding-left: 140px !important;
}
.pd-l-150 {
    padding-left: 150px !important;
}
.pd-l-160 {
    padding-left: 160px !important;
}
.pd-l-170 {
    padding-left: 170px !important;
}
.pd-l-180 {
    padding-left: 180px !important;
}
.pd-l-190 {
    padding-left: 190px !important;
}
.pd-l-200 {
    padding-left: 200px !important;
}
.pd-l-210 {
    padding-left: 210px !important;
}
.pd-l-220 {
    padding-left: 220px !important;
}
.pd-l-230 {
    padding-left: 230px !important;
}
.pd-l-240 {
    padding-left: 240px !important;
}
.pd-l-250 {
    padding-left: 250px !important;
}
.pd-l-260 {
    padding-left: 260px !important;
}
.pd-l-270 {
    padding-left: 270px !important;
}
.pd-l-280 {
    padding-left: 280px !important;
}
.pd-l-290 {
    padding-left: 290px !important;
}
.pd-l-300 {
    padding-left: 300px !important;
}
/* padding top bottom only */
.pd-tb-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
.pd-tb-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.pd-tb-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.pd-tb-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}
.pd-tb-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.pd-tb-40 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
.pd-tb-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.pd-tb-60 {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
}
.pd-tb-70 {
    padding-top: 70px !important;
    padding-bottom: 70px !important;
}
.pd-tb-80 {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
}
.pd-tb-90 {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
}
.pd-tb-100 {
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.pd-tb-110 {
    padding-top: 110px !important;
    padding-bottom: 110px !important;
}
.pd-tb-120 {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}
.pd-tb-130 {
    padding-top: 130px !important;
    padding-bottom: 130px !important;
}
.pd-tb-140 {
    padding-top: 140px !important;
    padding-bottom: 140px !important;
}
.pd-tb-150 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}
.pd-tb-160 {
    padding-top: 160px !important;
    padding-bottom: 160px !important;
}
.pd-tb-170 {
    padding-top: 170px !important;
    padding-bottom: 170px !important;
}
.pd-tb-180 {
    padding-top: 180px !important;
    padding-bottom: 180px !important;
}
.pd-tb-190 {
    padding-top: 190px !important;
    padding-bottom: 190px !important;
}
.pd-tb-200 {
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}
.pd-tb-210 {
    padding-top: 210px !important;
    padding-bottom: 210px !important;
}
.pd-tb-220 {
    padding-top: 220px !important;
    padding-bottom: 220px !important;
}
.pd-tb-230 {
    padding-top: 230px !important;
    padding-bottom: 230px !important;
}
.pd-tb-240 {
    padding-top: 240px !important;
    padding-bottom: 240px !important;
}
.pd-tb-250 {
    padding-top: 250px !important;
    padding-bottom: 250px !important;
}
.pd-tb-260 {
    padding-top: 260px !important;
    padding-bottom: 260px !important;
}
.pd-tb-270 {
    padding-top: 270px !important;
    padding-bottom: 270px !important;
}
.pd-tb-280 {
    padding-top: 280px !important;
    padding-bottom: 280px !important;
}
.pd-tb-290 {
    padding-top: 290px !important;
    padding-bottom: 290px !important;
}
.pd-tb-300 {
    padding-top: 300px !important;
    padding-bottom: 300px !important;
}
/* padding left right only */
.pd-lr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.pd-lr-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.pd-lr-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.pd-lr-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
.pd-lr-40 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.pd-lr-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}
.pd-lr-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}
.pd-lr-70 {
    padding-left: 70px !important;
    padding-right: 70px !important;
}
.pd-lr-80 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}
.pd-lr-90 {
    padding-left: 90px !important;
    padding-right: 90px !important;
}
.pd-lr-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
}
.pd-lr-110 {
    padding-left: 110px !important;
    padding-right: 110px !important;
}
.pd-lr-120 {
    padding-left: 120px !important;
    padding-right: 120px !important;
}
.pd-lr-130 {
    padding-left: 130px !important;
    padding-right: 130px !important;
}
.pd-lr-140 {
    padding-left: 140px !important;
    padding-right: 140px !important;
}
.pd-lr-150 {
    padding-left: 150px !important;
    padding-right: 150px !important;
}
.pd-lr-160 {
    padding-left: 160px !important;
    padding-right: 160px !important;
}
.pd-lr-170 {
    padding-left: 170px !important;
    padding-right: 170px !important;
}
.pd-lr-180 {
    padding-left: 180px !important;
    padding-right: 180px !important;
}
.pd-lr-190 {
    padding-left: 190px !important;
    padding-right: 190px !important;
}
.pd-lr-200 {
    padding-left: 200px !important;
    padding-right: 200px !important;
}
.pd-lr-210 {
    padding-left: 210px !important;
    padding-right: 210px !important;
}
.pd-lr-220 {
    padding-left: 220px !important;
    padding-right: 220px !important;
}
.pd-lr-230 {
    padding-left: 230px !important;
    padding-right: 230px !important;
}
.pd-lr-240 {
    padding-left: 240px !important;
    padding-right: 240px !important;
}
.pd-lr-250 {
    padding-left: 250px !important;
    padding-right: 250px !important;
}
.pd-lr-260 {
    padding-left: 260px !important;
    padding-right: 260px !important;
}
.pd-lr-270 {
    padding-left: 270px !important;
    padding-right: 270px !important;
}
.pd-lr-280 {
    padding-left: 280px !important;
    padding-right: 280px !important;
}
.pd-lr-290 {
    padding-left: 290px !important;
    padding-right: 290px !important;
}
.pd-lr-300 {
    padding-left: 300px !important;
    padding-right: 300px !important;
}
/* Margin
=========================*/
.mr-auto {
    margin-left: auto;
    margin-right: auto;
}
/* common margin */
.mr-0 {
    margin: 0px !important;
}
.mr-2 {
    margin: 2px !important;
}
.mr-4 {
    margin: 4px !important;
}
.mr-6 {
    margin: 6px !important;
}
.mr-8 {
    margin: 8px !important;
}
.mr-10 {
    margin: 10px !important;
}
.mr-12 {
    margin: 12px !important;
}
.mr-14 {
    margin: 14px !important;
}
.mr-16 {
    margin: 16px !important;
}
.mr-18 {
    margin: 18px !important;
}
.mr-20 {
    margin: 20px !important;
}
.mr-22 {
    margin: 22px !important;
}
.mr-24 {
    margin: 24px !important;
}
.mr-26 {
    margin: 26px !important;
}
.mr-28 {
    margin: 28px !important;
}
.mr-30 {
    margin: 30px !important;
}
.mr-32 {
    margin: 32px !important;
}
.mr-34 {
    margin: 34px !important;
}
.mr-36 {
    margin: 36px !important;
}
.mr-38 {
    margin: 38px !important;
}
.mr-40 {
    margin: 40px !important;
}
.mr-42 {
    margin: 42px !important;
}
.mr-44 {
    margin: 44px !important;
}
.mr-46 {
    margin: 46px !important;
}
.mr-48 {
    margin: 48px !important;
}
.mr-50 {
    margin: 50px !important;
}
.mr-0 {
    margin: 0px !important;
}
.mr-10 {
    margin: 10px !important;
}
.mr-20 {
    margin: 20px !important;
}
.mr-30 {
    margin: 30px !important;
}
.mr-40 {
    margin: 40px !important;
}
.mr-50 {
    margin: 50px !important;
}
.mr-60 {
    margin: 60px !important;
}
.mr-70 {
    margin: 70px !important;
}
.mr-80 {
    margin: 80px !important;
}
.mr-90 {
    margin: 90px !important;
}
.mr-100 {
    margin: 100px !important;
}
.mr-110 {
    margin: 110px !important;
}
.mr-120 {
    margin: 120px !important;
}
.mr-130 {
    margin: 130px !important;
}
.mr-140 {
    margin: 140px !important;
}
.mr-150 {
    margin: 150px !important;
}
.mr-160 {
    margin: 160px !important;
}
.mr-170 {
    margin: 170px !important;
}
.mr-180 {
    margin: 180px !important;
}
.mr-190 {
    margin: 190px !important;
}
.mr-200 {
    margin: 200px !important;
}
/* margin top only */
.mr-t-0 {
    margin-top: 0px !important;
}
.mr-t-2 {
    margin-top: 2px !important;
}
.mr-t-4 {
    margin-top: 4px !important;
}
.mr-t-6 {
    margin-top: 6px !important;
}
.mr-t-8 {
    margin-top: 8px !important;
}
.mr-t-10 {
    margin-top: 10px !important;
}
.mr-t-12 {
    margin-top: 12px !important;
}
.mr-t-14 {
    margin-top: 14px !important;
}
.mr-t-16 {
    margin-top: 16px !important;
}
.mr-t-18 {
    margin-top: 18px !important;
}
.mr-t-20 {
    margin-top: 20px !important;
}
.mr-t-22 {
    margin-top: 22px !important;
}
.mr-t-24 {
    margin-top: 24px !important;
}
.mr-t-26 {
    margin-top: 26px !important;
}
.mr-t-28 {
    margin-top: 28px !important;
}
.mr-t-30 {
    margin-top: 30px !important;
}
.mr-t-32 {
    margin-top: 32px !important;
}
.mr-t-34 {
    margin-top: 34px !important;
}
.mr-t-36 {
    margin-top: 36px !important;
}
.mr-t-38 {
    margin-top: 38px !important;
}
.mr-t-40 {
    margin-top: 40px !important;
}
.mr-t-42 {
    margin-top: 42px !important;
}
.mr-t-44 {
    margin-top: 44px !important;
}
.mr-t-46 {
    margin-top: 46px !important;
}
.mr-t-48 {
    margin-top: 48px !important;
}
.mr-t-50 {
    margin-top: 50px !important;
}
.mr-t-10 {
    margin-top: 10px !important;
}
.mr-t-20 {
    margin-top: 20px !important;
}
.mr-t-30 {
    margin-top: 30px !important;
}
.mr-t-40 {
    margin-top: 40px !important;
}
.mr-t-50 {
    margin-top: 50px !important;
}
.mr-t-60 {
    margin-top: 60px !important;
}
.mr-t-70 {
    margin-top: 70px !important;
}
.mr-t-80 {
    margin-top: 80px !important;
}
.mr-t-90 {
    margin-top: 90px !important;
}
.mr-t-100 {
    margin-top: 100px !important;
}
.mr-t-110 {
    margin-top: 110px !important;
}
.mr-t-120 {
    margin-top: 120px !important;
}
.mr-t-130 {
    margin-top: 130px !important;
}
.mr-t-140 {
    margin-top: 140px !important;
}
.mr-t-150 {
    margin-top: 150px !important;
}
.mr-t-200 {
    margin-top: 200px !important;
}
.mr-t-250 {
    margin-top: 250px !important;
}
.mr-t-300 {
    margin-top: 300px !important;
}
.mr-t-350 {
    margin-top: 350px !important;
}
.mr-t-400 {
    margin-top: 400px !important;
}
.mr-t-450 {
    margin-top: 450px !important;
}
.mr-t-500 {
    margin-top: 500px !important;
}
/* margin right only */
.mr-r-0,
.info-obj.img-r.g0 .info {
    margin-right: 0px !important;
}
.mr-r-2,
.info-obj.img-r.g2 .info {
    margin-right: 2px !important;
}
.mr-r-4,
.info-obj.img-r.g4 .info {
    margin-right: 4px !important;
}
.mr-r-6,
.info-obj.img-r.g6 .info {
    margin-right: 6px !important;
}
.mr-r-8,
.info-obj.img-r.g8 .info {
    margin-right: 8px !important;
}
.mr-r-10,
.info-obj.img-r.g10 .info {
    margin-right: 10px !important;
}
.mr-r-12,
.info-obj.img-r.g12 .info {
    margin-right: 12px !important;
}
.mr-r-14,
.info-obj.img-r.g14 .info {
    margin-right: 14px !important;
}
.mr-r-16,
.info-obj.img-r.g16 .info {
    margin-right: 16px !important;
}
.mr-r-18,
.info-obj.img-r.g18 .info {
    margin-right: 18px !important;
}
.mr-r-20,
.info-obj.img-r.g20 .info {
    margin-right: 20px !important;
}
.mr-r-22,
.info-obj.img-r.g22 .info {
    margin-right: 22px !important;
}
.mr-r-24,
.info-obj.img-r.g24 .info {
    margin-right: 24px !important;
}
.mr-r-26,
.info-obj.img-r.g26 .info {
    margin-right: 26px !important;
}
.mr-r-28,
.info-obj.img-r.g28 .info {
    margin-right: 28px !important;
}
.mr-r-30,
.info-obj.img-r.g30 .info {
    margin-right: 30px !important;
}
.mr-r-32,
.info-obj.img-r.g32 .info {
    margin-right: 32px !important;
}
.mr-r-34,
.info-obj.img-r.g34 .info {
    margin-right: 34px !important;
}
.mr-r-36,
.info-obj.img-r.g36 .info {
    margin-right: 36px !important;
}
.mr-r-38,
.info-obj.img-r.g38 .info {
    margin-right: 38px !important;
}
.mr-r-40,
.info-obj.img-r.g40 .info {
    margin-right: 40px !important;
}
.mr-r-42,
.info-obj.img-r.g42 .info {
    margin-right: 42px !important;
}
.mr-r-44,
.info-obj.img-r.g44 .info {
    margin-right: 44px !important;
}
.mr-r-46,
.info-obj.img-r.g46 .info {
    margin-right: 46px !important;
}
.mr-r-48,
.info-obj.img-r.g48 .info {
    margin-right: 48px !important;
}
.mr-r-50,
.info-obj.img-r.g50 .info {
    margin-right: 50px !important;
}
.mr-r-10,
.info-obj.img-r.g10 .info {
    margin-right: 10px !important;
}
.mr-r-20,
.info-obj.img-r.g20 .info {
    margin-right: 20px !important;
}
.mr-r-30,
.info-obj.img-r.g30 .info {
    margin-right: 30px !important;
}
.mr-r-40,
.info-obj.img-r.g40 .info {
    margin-right: 40px !important;
}
.mr-r-50,
.info-obj.img-r.g50 .info {
    margin-right: 50px !important;
}
.mr-r-60,
.info-obj.img-r.g60 .info {
    margin-right: 60px !important;
}
.mr-r-70,
.info-obj.img-r.g70 .info {
    margin-right: 70px !important;
}
.mr-r-80,
.info-obj.img-r.g80 .info {
    margin-right: 80px !important;
}
.mr-r-90,
.info-obj.img-r.g90 .info {
    margin-right: 90px !important;
}
.mr-r-100,
.info-obj.img-r.g100 .info {
    margin-right: 100px !important;
}
.mr-r-110,
.info-obj.img-r.g110 .info {
    margin-right: 110px !important;
}
.mr-r-120,
.info-obj.img-r.g120 .info {
    margin-right: 120px !important;
}
.mr-r-130,
.info-obj.img-r.g130 .info {
    margin-right: 130px !important;
}
.mr-r-140,
.info-obj.img-r.g140 .info {
    margin-right: 140px !important;
}
.mr-r-150,
.info-obj.img-r.g150 .info {
    margin-right: 150px !important;
}
/* margin bottom only */
.mr-b-0,
.info-obj.img-t.g0 .img {
    margin-bottom: 0px !important;
}
.mr-b-2,
.info-obj.img-t.g2 .img {
    margin-bottom: 2px !important;
}
.mr-b-4,
.info-obj.img-t.g4 .img {
    margin-bottom: 4px !important;
}
.mr-b-6,
.info-obj.img-t.g6 .img {
    margin-bottom: 6px !important;
}
.mr-b-8,
.info-obj.img-t.g8 .img {
    margin-bottom: 8px !important;
}
.mr-b-10,
.info-obj.img-t.g10 .img {
    margin-bottom: 10px !important;
}
.mr-b-12,
.info-obj.img-t.g12 .img {
    margin-bottom: 12px !important;
}
.mr-b-14,
.info-obj.img-t.g14 .img {
    margin-bottom: 14px !important;
}
.mr-b-16,
.info-obj.img-t.g16 .img {
    margin-bottom: 16px !important;
}
.mr-b-18,
.info-obj.img-t.g18 .img {
    margin-bottom: 18px !important;
}
.mr-b-20,
.info-obj.img-t.g20 .img {
    margin-bottom: 20px !important;
}
.mr-b-22,
.info-obj.img-t.g22 .img {
    margin-bottom: 22px !important;
}
.mr-b-24,
.info-obj.img-t.g24 .img {
    margin-bottom: 24px !important;
}
.mr-b-26,
.info-obj.img-t.g26 .img {
    margin-bottom: 26px !important;
}
.mr-b-28,
.info-obj.img-t.g28 .img {
    margin-bottom: 28px !important;
}
.mr-b-30,
.info-obj.img-t.g30 .img {
    margin-bottom: 30px !important;
}
.mr-b-32,
.info-obj.img-t.g32 .img {
    margin-bottom: 32px !important;
}
.mr-b-34,
.info-obj.img-t.g34 .img {
    margin-bottom: 34px !important;
}
.mr-b-36,
.info-obj.img-t.g36 .img {
    margin-bottom: 36px !important;
}
.mr-b-38,
.info-obj.img-t.g38 .img {
    margin-bottom: 38px !important;
}
.mr-b-40,
.info-obj.img-t.g40 .img {
    margin-bottom: 40px !important;
}
.mr-b-42,
.info-obj.img-t.g42 .img {
    margin-bottom: 42px !important;
}
.mr-b-44,
.info-obj.img-t.g44 .img {
    margin-bottom: 44px !important;
}
.mr-b-46,
.info-obj.img-t.g46 .img {
    margin-bottom: 46px !important;
}
.mr-b-48,
.info-obj.img-t.g48 .img {
    margin-bottom: 48px !important;
}
.mr-b-50,
.info-obj.img-t.g50 .img {
    margin-bottom: 50px !important;
}
.mr-b-10,
.info-obj.img-t.g10 .img {
    margin-bottom: 10px !important;
}
.mr-b-20,
.info-obj.img-t.g20 .img {
    margin-bottom: 20px !important;
}
.mr-b-30,
.info-obj.img-t.g30 .img {
    margin-bottom: 30px !important;
}
.mr-b-40,
.info-obj.img-t.g40 .img {
    margin-bottom: 40px !important;
}
.mr-b-50,
.info-obj.img-t.g50 .img {
    margin-bottom: 50px !important;
}
.mr-b-60,
.info-obj.img-t.g60 .img {
    margin-bottom: 60px !important;
}
.mr-b-70,
.info-obj.img-t.g70 .img {
    margin-bottom: 70px !important;
}
.mr-b-80,
.info-obj.img-t.g80 .img {
    margin-bottom: 80px !important;
}
.mr-b-90,
.info-obj.img-t.g90 .img {
    margin-bottom: 90px !important;
}
.mr-b-100,
.info-obj.img-t.g100 .img {
    margin-bottom: 100px !important;
}
.mr-b-110,
.info-obj.img-t.g110 .img {
    margin-bottom: 110px !important;
}
.mr-b-120,
.info-obj.img-t.g120 .img {
    margin-bottom: 120px !important;
}
.mr-b-130,
.info-obj.img-t.g130 .img {
    margin-bottom: 130px !important;
}
.mr-b-140,
.info-obj.img-t.g140 .img {
    margin-bottom: 140px !important;
}
.mr-b-150,
.info-obj.img-t.g150 .img {
    margin-bottom: 150px !important;
}
.mr-b-200,
.info-obj.img-t.g200 .img {
    margin-bottom: 200px !important;
}
.mr-b-250,
.info-obj.img-t.g250 .img {
    margin-bottom: 250px !important;
}
.mr-b-300,
.info-obj.img-t.g300 .img {
    margin-bottom: 300px !important;
}
.mr-b-350,
.info-obj.img-t.g350 .img {
    margin-bottom: 350px !important;
}
.mr-b-400,
.info-obj.img-t.g400 .img {
    margin-bottom: 400px !important;
}
.mr-b-450,
.info-obj.img-t.g450 .img {
    margin-bottom: 450px !important;
}
.mr-b-500,
.info-obj.img-t.g500 .img {
    margin-bottom: 500px !important;
}
/* margin left only */
.mr-l-0,
.info-obj.img-l.g0 .info {
    margin-left: 0px !important;
}
.mr-l-2,
.info-obj.img-l.g2 .info {
    margin-left: 2px !important;
}
.mr-l-4,
.info-obj.img-l.g4 .info {
    margin-left: 4px !important;
}
.mr-l-6,
.info-obj.img-l.g6 .info {
    margin-left: 6px !important;
}
.mr-l-8,
.info-obj.img-l.g8 .info {
    margin-left: 8px !important;
}
.mr-l-10,
.info-obj.img-l.g10 .info {
    margin-left: 10px !important;
}
.mr-l-12,
.info-obj.img-l.g12 .info {
    margin-left: 12px !important;
}
.mr-l-14,
.info-obj.img-l.g14 .info {
    margin-left: 14px !important;
}
.mr-l-16,
.info-obj.img-l.g16 .info {
    margin-left: 16px !important;
}
.mr-l-18,
.info-obj.img-l.g18 .info {
    margin-left: 18px !important;
}
.mr-l-20,
.info-obj.img-l.g20 .info {
    margin-left: 20px !important;
}
.mr-l-22,
.info-obj.img-l.g22 .info {
    margin-left: 22px !important;
}
.mr-l-24,
.info-obj.img-l.g24 .info {
    margin-left: 24px !important;
}
.mr-l-26,
.info-obj.img-l.g26 .info {
    margin-left: 26px !important;
}
.mr-l-28,
.info-obj.img-l.g28 .info {
    margin-left: 28px !important;
}
.mr-l-30,
.info-obj.img-l.g30 .info {
    margin-left: 30px !important;
}
.mr-l-32,
.info-obj.img-l.g32 .info {
    margin-left: 32px !important;
}
.mr-l-34,
.info-obj.img-l.g34 .info {
    margin-left: 34px !important;
}
.mr-l-36,
.info-obj.img-l.g36 .info {
    margin-left: 36px !important;
}
.mr-l-38,
.info-obj.img-l.g38 .info {
    margin-left: 38px !important;
}
.mr-l-40,
.info-obj.img-l.g40 .info {
    margin-left: 40px !important;
}
.mr-l-42,
.info-obj.img-l.g42 .info {
    margin-left: 42px !important;
}
.mr-l-44,
.info-obj.img-l.g44 .info {
    margin-left: 44px !important;
}
.mr-l-46,
.info-obj.img-l.g46 .info {
    margin-left: 46px !important;
}
.mr-l-48,
.info-obj.img-l.g48 .info {
    margin-left: 48px !important;
}
.mr-l-50,
.info-obj.img-l.g50 .info {
    margin-left: 50px !important;
}
.mr-l-10,
.info-obj.img-l.g10 .info {
    margin-left: 10px !important;
}
.mr-l-20,
.info-obj.img-l.g20 .info {
    margin-left: 20px !important;
}
.mr-l-30,
.info-obj.img-l.g30 .info {
    margin-left: 30px !important;
}
.mr-l-40,
.info-obj.img-l.g40 .info {
    margin-left: 40px !important;
}
.mr-l-50,
.info-obj.img-l.g50 .info {
    margin-left: 50px !important;
}
.mr-l-60,
.info-obj.img-l.g60 .info {
    margin-left: 60px !important;
}
.mr-l-70,
.info-obj.img-l.g70 .info {
    margin-left: 70px !important;
}
.mr-l-80,
.info-obj.img-l.g80 .info {
    margin-left: 80px !important;
}
.mr-l-90,
.info-obj.img-l.g90 .info {
    margin-left: 90px !important;
}
.mr-l-100,
.info-obj.img-l.g100 .info {
    margin-left: 100px !important;
}
.mr-l-110,
.info-obj.img-l.g110 .info {
    margin-left: 110px !important;
}
.mr-l-120,
.info-obj.img-l.g120 .info {
    margin-left: 120px !important;
}
.mr-l-130,
.info-obj.img-l.g130 .info {
    margin-left: 130px !important;
}
.mr-l-140,
.info-obj.img-l.g140 .info {
    margin-left: 140px !important;
}
.mr-l-150,
.info-obj.img-l.g150 .info {
    margin-left: 150px !important;
}
/* margin top bottom only */
.mr-tb-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
.mr-tb-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mr-tb-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}
.mr-tb-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mr-tb-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}
.mr-tb-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.mr-tb-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}
.mr-tb-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}
.mr-tb-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}
.mr-tb-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}
.mr-tb-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}
.mr-tb-110 {
    margin-top: 110px !important;
    margin-bottom: 110px !important;
}
.mr-tb-120 {
    margin-top: 120px !important;
    margin-bottom: 120px !important;
}
.mr-tb-130 {
    margin-top: 130px !important;
    margin-bottom: 130px !important;
}
.mr-tb-140 {
    margin-top: 140px !important;
    margin-bottom: 140px !important;
}
.mr-tb-150 {
    margin-top: 150px !important;
    margin-bottom: 150px !important;
}
/* margin left right only */
.mr-lr-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.mr-lr-10 {
    margin-left: 10px !important;
    margin-right: 10px !important;
}
.mr-lr-20 {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
.mr-lr-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mr-lr-40 {
    margin-left: 40px !important;
    margin-right: 40px !important;
}
.mr-lr-50 {
    margin-left: 50px !important;
    margin-right: 50px !important;
}
.mr-lr-60 {
    margin-left: 60px !important;
    margin-right: 60px !important;
}
.mr-lr-70 {
    margin-left: 70px !important;
    margin-right: 70px !important;
}
.mr-lr-80 {
    margin-left: 80px !important;
    margin-right: 80px !important;
}
.mr-lr-90 {
    margin-left: 90px !important;
    margin-right: 90px !important;
}
.mr-lr-100 {
    margin-left: 100px !important;
    margin-right: 100px !important;
}
.mr-lr-110 {
    margin-left: 110px !important;
    margin-right: 110px !important;
}
.mr-lr-120 {
    margin-left: 120px !important;
    margin-right: 120px !important;
}
.mr-lr-130 {
    margin-left: 130px !important;
    margin-right: 130px !important;
}
.mr-lr-140 {
    margin-left: 140px !important;
    margin-right: 140px !important;
}
.mr-lr-150 {
    margin-left: 150px !important;
    margin-right: 150px !important;
}

.fs11 {
    font-size: 11px !important;
}
.fs12 {
    font-size: 12px !important;
}
.fs13 {
    font-size: 13px !important;
}
.fs14 {
    font-size: 14px !important;
}
.fs16 {
    font-size: 16px !important;
}
.fs17 {
    font-size: 17px !important;
}
.fs18 {
    font-size: 18px !important;
}
.fs20 {
    font-size: 20px !important;
}
.fs22 {
    font-size: 22px !important;
}
.fs24 {
    font-size: 24px !important;
}
.fs26 {
    font-size: 26px !important;
}
.fs28 {
    font-size: 28px !important;
}
.fs30 {
    font-size: 30px !important;
}
.fs32 {
    font-size: 32px !important;
}
.fs34 {
    font-size: 34px !important;
}
.fs36 {
    font-size: 36px !important;
}
.fs38 {
    font-size: 38px !important;
}
.fs40 {
    font-size: 40px !important;
}
.fs42 {
    font-size: 42px !important;
}
.fs44 {
    font-size: 44px !important;
}
.fs46 {
    font-size: 46px !important;
}
.fs48 {
    font-size: 48px !important;
}
.fs50 {
    font-size: 50px !important;
}
.fs52 {
    font-size: 52px !important;
}
.fs54 {
    font-size: 54px !important;
}
.fs56 {
    font-size: 56px !important;
}
.fs58 {
    font-size: 58px !important;
}
.fs60 {
    font-size: 60px !important;
}
.fs62 {
    font-size: 62px !important;
}
.fs64 {
    font-size: 64px !important;
}
.fs66 {
    font-size: 66px !important;
}
.fs68 {
    font-size: 68px !important;
}
.fs70 {
    font-size: 70px !important;
}
.fs72 {
    font-size: 72px !important;
}
.fs74 {
    font-size: 74px !important;
}
.fs76 {
    font-size: 76px !important;
}
.fs78 {
    font-size: 78px !important;
}
.fs80 {
    font-size: 80px !important;
}
.fs82 {
    font-size: 82px !important;
}
.fs84 {
    font-size: 84px !important;
}
.fs86 {
    font-size: 86px !important;
}
.fs88 {
    font-size: 88px !important;
}
.fs90 {
    font-size: 90px !important;
}
.fs100 {
    font-size: 100px !important;
}
.fs110 {
    font-size: 110px !important;
}
.fs120 {
    font-size: 120px !important;
}
.fs130 {
    font-size: 130px !important;
}
.fs140 {
    font-size: 140px !important;
}
.fs150 {
    font-size: 150px !important;
}
.fs160 {
    font-size: 160px !important;
}
.fs170 {
    font-size: 170px !important;
}
.fs180 {
    font-size: 180px !important;
}
.fs190 {
    font-size: 190px !important;
}
.fs200 {
    font-size: 200px !important;
}
.fs100p {
    font-size: 100%;
}